{% extends 'index.html' %}
{% load static %}
{% block title %}
    blog detail
{% endblock %}
{% block context %}
    <section class="blog-hero spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="blog__hero__text">
                        <h2>{{ blog.title }}</h2>
                        <ul>
                            <li>{{ blog.user.get_full_name }}</li>
                            <li>{{ blog.created_at }}</li>
                            <li>{{ count.count }} Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        {% if blog.image %}
                            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                        {% else %}
                            <img src="{% static 'img/blog/details/blog-details.jpg' %}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <span>share</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="blog__details__text">
                            <p>{{ blog.description }}</p>
                        </div>

                        <div class="blog__details__comment">
                            <h4>Leave A Comment</h4>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    {% if not request.user.is_authenticated %}
                                    <div class="col-lg-6 col-md-6">
                                        {{ form.name.label }}
                                        {{ form.name }}
                                        {{ form.errors }}
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        {{ form.email.label }}
                                        {{ form.email }}
                                        {{ form.errors }}
                                    </div>
                                    {% endif %}
                                    <div class="col-lg-12 text-center">
                                        {{ form.text }}
                                        <button type="submit" class="site-btn">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section style="margin: 10px">
        <div class="container">
            {% for comment in comments %}
            <div class="media border p-3">
                <img src="{% static 'img/hero/hero-2.jpg' %}" alt="Avatar" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>{{ comment.name }}<small><i>{{ comment.created_at }}</i></small></h4>
                    <p>{{ comment.text }}</p>
                    {% for child in comment.comment.all %}
                        <div class="media p-3">
                        <img src="{% static 'img/hero/hero-1.jpg' %}" alt="Avatar" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                        <div class="media-body">
                            <h4>{{ child.name }}<small><i>Posted on {{ child.created_at }}</i></small></h4>
                            <p>{{ child.text }}</p>
                        </div>
                    </div>
                        {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}