{% extends 'index.html' %}
{% block title %}
    Change Password
{% endblock %}
{% block context %}
    <div class="container" style="margin-top: 40px;margin-bottom: 40px;">
        <div class="row">
            {% include 'account/partial/sidbar.html' %}
            <div class="col-md-9  border-top border-primary" style="padding-top: 10px;">
               <h3>
                   If you Want to Change Your password please press below button then check your email.
               </h3>
                <hr>
                <form method="post" action="">
                    {% csrf_token %}
                    <button class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}