{% extends 'index.html' %}
{% block title %}
    Contact Us
{% endblock %}
{% block context %}
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>{{ contact_setting.title_red }}</span>
                            <h2>{{ contact_setting.title }}</h2>
                            <p>{{ contact_setting.text }}</p>
                        </div>
                        <ul>
                            {% for ad in address %}
                            <li>
                                <h4>{{ ad.title }}</h4>
                                <p>{{ ad.address }}
                                    <br>{{ ad.phone }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form.name.label }}
                                    {{ form.name }}
                                    {{ form.name.error }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form.email.label }}
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>
                                <div class="captcha">
                                    {{ form.captcha.label }}
                                    {{ form.captcha }}
                                    {{ form.captcha.errors }}
                                </div>
                                <div class="col-lg-12">
                                    {{ form.message.label }}
                                    {{ form.message }}
                                    {{ form.message.error }}
                                    <button type="submit" class="site-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}